header{
    background-image: url('image/sepatu-1-bg.jpg');
    padding-bottom: 30%;
}

.navi{
    display: flex;
    margin-top: 35px;
    margin-left: 60%;
   
}

.navi li{
    margin-left: 15px;
}
.navi li a{
    text-decoration: none;
    color: black;
}

.head-nav {
    display: flex;
}

.dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: grey;
}

.dropdown-menu li:hover{
   background-color: black;
}
.dropdown-menu li:hover a{
   color:orangered;
}
.quotes{
    padding: 20%;
}
