header{
    background-image: url('image/sepatu-1-bg.jpg');
    padding-bottom: 40%;
    background-size: 70%;
}
.qoutes{
    padding: 20%;
    /* margin-top: 70%;
    margin-left: 50%; */
    position: absolute;
    top: 30%;
    left: 25%;
}
.navi{
    display: flex;
    margin-top: 35px;
    margin-left: 60%;
   
}

.navi li{
    margin-left: 15px;
}
.navi li a{
    text-decoration: none;
    color: black;
}

.head-nav {
    display: flex;
}

.dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: grey;
}

.dropdown-menu li:hover{
   background-color: black;
}
.dropdown-menu li:hover a{
   color:orangered;
}

.page-1{
    display: flex;
    background-image: url('image/logo-shoe.png');
    background-size: 5%;

}
.page-1 .img-but{

    margin: 20px 20px 20px 60px;
    display: flex;
    flex-direction: column;
}

.page-1 .img-but img{
    width: 80%;
}

.page-1 .img-but button{
    width: 20%;
    padding: 10px 15px ;
    margin-top: 20px;
    margin-left: 30%;

}

.page-2, .page-3{
    margin-top: 20px;
    display: flex;
    background-color: darkgray;
}
.page-2 img, .page-3 img, .page-4 img{
    width: 30%;
    margin: 20px 5%;
}

.page-4{
    display:flex;
    margin: 20px 100px;
    background-color: rgb(46, 33, 33);
}

.page-4 .teks{
    color: white;
}

footer{
    background-color: darkgray;
    display: flex;
    justify-content: center;
    background-image: url("image/logo-shoe.png");
    background-repeat: repeat-y;
    background-size: 5%;
}

footer .list-1{
    margin: 20px 100px;
}


/* }
.page-3{
    display: flex;
} */