header{
    background-image: url('image/sepatu-1-bg.jpg');
    padding-bottom: 30%;
    background-size: 70%;
    background-repeat: no-repeat;
}
.quotes{
    padding: 20%;
    margin-top: 70%;
    margin-left: 50%;
}
.navi{
    display: flex;
    margin-top: 35px;
    margin-left: 60%;
   
}

.navi li{
    margin-left: 15px;
}
.navi li a{
    text-decoration: none;
    color: black;
}

.head-nav {
    display: flex;
}

.dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: grey;
}

.dropdown-menu li:hover{
   background-color: black;
}
.dropdown-menu li:hover a{
   color:orangered;
}

.page-1{
    display: flex;
    background-image: url('image/logo-shoe.png');
    background-size: 5%;

}
.page-1 .img-but{

    margin: 20px 20px 20px 60px;
    display: flex;
    flex-direction: column;
}

.page-1 .img-but img{
    width: 80%;
}

.page-1 .img-but button{
    width: 20%;
    padding: 10px 15px ;
    margin-top: 20px;
    margin-left: 30%;

}
